HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Visual Studio Code ###
.vscode/

### macOS ###
.DS_Store

### Runtime data ###
data/
*.db
*.db-shm
*.db-wal

.ignored-*.log
